{% extends 'base.html' %}

    {% block heading %}
    <h1>this is post detail page</h1>
    {% endblock %}

    {% block functionality %}
    <div class="container"> 
        <div class="jumbotron">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete<br> "<br><span>Author : </span> {{ object.author}}<br><span>Title : </span> {{object.Title}}<br> <span>Text : </span> {{object.Text}}<br><span>Created Date : </span> {{object.Created_date}} &nbsp;&nbsp;&nbsp;<br>" </p>
                <input type="submit" value="Confirm">
            </form>
        </div>
    </div>

    {% endblock %}
